In [1]:
import numpy as np
import pandas as pd
import random

from sklearn.datasets import fetch_california_housing

In [2]:
#link to collab notebook by ian https://colab.research.google.com/drive/1EiIOylUoyYlacFik1VgGPlvxKta88T23?usp=sharing#scrollTo=WFoZMAhBSjYD 
#Do Filling Missing Values here
housing = fetch_california_housing()
df = pd.DataFrame(housing.data, columns=housing.feature_names)

In [12]:
df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.878070,28.632404,5.425227,1.097275,1420.959667,3.086355,35.635526,-119.571533
std,1.807184,11.946522,2.339182,0.454410,1058.399434,10.382301,2.028277,1.903934
min,0.499900,1.000000,0.888889,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.666700,19.000000,4.536159,1.011015,827.000000,2.475335,33.970000,-121.510000
50%,3.753000,28.632404,5.390137,1.057971,1269.000000,2.906817,35.330000,-119.280000
75%,4.576600,36.000000,5.942785,1.097275,1637.000000,3.216638,37.620000,-118.080000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [13]:
df.isnull().sum()
#After some deliberation we noticed that there were no missing values so we randomly set sone NaN values then fixed them

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [14]:
ix = [(row, col) for row in range(df.shape[0]) for col in range(df.shape[1])]
for row, col in random.sample(ix, int(round(.1*len(ix)))):
    df.iat[row, col] = np.nan

In [15]:
df.isnull().sum()

MedInc        2043
HouseAge      2054
AveRooms      2049
AveBedrms     2049
Population    2105
AveOccup      2025
Latitude      2075
Longitude     2112
dtype: int64

In [7]:
df.fillna(df.mean(), inplace=True)

In [8]:
df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [9]:
#Do encoding Below this
housing = fetch_california_housing()

In [10]:
#Do feature selection below this
housing = fetch_california_housing()

In [11]:
#Do feature extraction below this
housing = fetch_california_housing()